/* .App {
  align-content: center;
  text-align: center;
  justify-content: center;
  position: relative;
} */
.App-header {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.18);
}

.header {
  color: wheat;
  text-align: center;
  padding-top: 17px;
  font-size: 15px;
  font-weight: bold;
}

.emoji {
  font-size: 20px;
}

.footer {
  color: wheat;
  padding-top: 45px;
  text-align: center;

}

.sub-header {
  font-size: 10px;
}

.description {
  font-size: 10px;
}

a {
  color: orangered;
}

@media (min-width: 700px) {
  .App-header {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 900px) {
  .App-header {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 1919px) {
  .App-header {
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}